@use "$styles/mixins" as mixins;

.about-hero {
  display: grid;
  grid-template-areas: "title title" "badges badges" "intro timeline" "pages pages";
  grid-template-columns: 1fr 2fr;

  @include mixins.contentContainer;

  @include media("<tablet") {
    grid-template-areas: "title title" "badges badges" "intro intro" "timeline timeline" "pages pages";
  }

  &__title {
    grid-area: title;

    margin: 0;
    padding: 8px;

    border-bottom: 1px solid c("grey-3");
  }

  &__links {
    margin-left: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    a {
      color: c("text");
    }
  }

  &__badges {
    grid-area: badges;

    display: flex;
    gap: 6px;
    padding: 8px;

    border-bottom: 1px solid c("grey-3");
  }

  &__badge {
    text-decoration: underline;
    text-decoration-style: wavy;

    &:not(:last-of-type) {
      &:after {
        content: "■";
        display: inline-block;
        text-decoration: none;
        margin-left: 12px;
        transform: rotate(45deg);
      }
    }

    @include media("<tablet") {
      font-size: 12px;

      &:after {
        content: "" !important;
        margin-left: 8px !important;
      }
    }
  }

  &__intro {
    grid-area: intro;

    margin: 0;
    display: block;
    padding: 8px;
    border-right: 1px dashed c("grey-3");

    @include media("<tablet") {
      border-right: none;
      border-bottom: 1px dashed c("grey-3");
    }
  }

  &__timeline {
    grid-area: timeline;

    padding: 8px;

    h3 {
      margin: 0;
      font-size: 1rem;
    }
  }

  &__pages {
    grid-area: pages;

    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid c("grey-3");

    padding: 8px;

    p {
      margin: 0;
    }
  }
}
