@use '@fontsource/ibm-plex-mono';
@use 'sanitize.css';

@use '$styles/globals' as *;

@include apply();

html[data-theme='janis-light'] {
  code,
  .astro-code,
  .astro-code span,
  .astro-code .line {
    background-color: themed('gray-3') !important;
  }
}

html[data-theme='janis-dark'] {
  code,
  .astro-code,
  .astro-code span,
  .astro-code .line {
    background-color: themed('gray-3') !important;
    color: var(--shiki-dark) !important;
  }
}

html[data-theme='lucie-light'] {
  code,
  .astro-code,
  .astro-code span,
  .astro-code .line {
    background-color: themed('gray-5') !important;
  }
}

html[data-theme='lucie-dark'] {
  code,
  .astro-code,
  .astro-code span,
  .astro-code .line {
    color: var(--shiki-dark) !important;
    background-color: themed('gray-3') !important;
  }
}

code {
  border: 1px dashed themed('gray-8');
  padding: themed('size-2') themed('size-4');
}

.astro-code {
  border: 1px dashed themed('gray-8');

  code {
    display: inline-block;
    padding: 0 !important;
    width: 100%;

    // the usual styling
    .line {
      display: inline-block;
      width: 100%;
      padding: themed('size-2') themed('size-8');
    }

    $highlighted-border: 1px dashed themed('gray-8');

    &:has(.highlighted) {
      .line:not(.highlighted) {
        filter: blur(1px);
      }

      // Select the first highlighted line that comes after a non-highlighted line
      .line:not(.highlighted):has(+ .highlighted) + .highlighted {
        border-top: $highlighted-border;
      }

      .highlighted {
        border-left: $highlighted-border;
        border-right: $highlighted-border;
      }

      // The first highlighted line, if there is no previous line
      .highlighted:first-of-type {
        border-top: $highlighted-border;
      }

      // highlighted lines that are not followed by another highlighted line
      .highlighted:not(:has(+ .highlighted)) {
        border-bottom: $highlighted-border;
      }
    }
  }
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: themed('size-80') auto;

  font-family: 'IBM Plex Mono', Tahoma, Geneva, Verdana, sans-serif;
  background-color: themed('background');
  color: themed('text');

  @include media('<=tablet') {
    grid-template-rows: themed('size-64') auto;
  }
}

p {
  text-wrap: pretty;
}

a {
  color: themed('text');
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: themed('size-4');

  &:has(svg, h1, h2, h3, h4, h5, h6) {
    text-decoration: none;
  }
}

ul {
  list-style-type: square;
}

@include media('<desktop') {
  ul {
    padding-left: themed('size-16');
  }
}

@include media('<=tablet') {
  html {
    font-size: 14px;
  }
}

@include media('<=phone') {
  html {
    font-size: 12px;
  }
}
