@use "@fontsource/ibm-plex-mono";
@use "sanitize.css";

@use "$styles/globals" as *;

@include apply();

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

body {
  font-family: "IBM Plex Mono", Tahoma, Geneva, Verdana, sans-serif;
  background-color: themed("background");
  color: themed("text");
}

p {
  text-wrap: pretty;
}

a {
  color: themed("text");
  text-decoration: underline;
}

@include media("<=tablet") {
  html {
    font-size: 14px;
  }
}

@include media("<=phone") {
  html {
    font-size: 12px;
  }
}
