@use "@fontsource/ibm-plex-mono";

@use "sanitize.css";

@use "./themes";

@mixin applyTheme($theme) {
  @each $name, $color in $theme {
    --color-#{$name}: #{$color};
  }
}

html[data-theme="light"][data-colormode="false"] {
  @include applyTheme(themes.$light);
}
html[data-theme="dark"][data-colormode="false"] {
  @include applyTheme(themes.$dark);
}
html[data-theme="light"][data-colormode="true"] {
  @include applyTheme(themes.$lucie-light);
}
html[data-theme="dark"][data-colormode="true"] {
  @include applyTheme(themes.$lucie-dark);
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

body {
  font-family: "IBM Plex Mono", Tahoma, Geneva, Verdana, sans-serif;
  background-color: c("background");
  color: c("text");
}

a {
  color: c("text");
  text-decoration: underline;
}

@include media("<=tablet") {
  html {
    font-size: 14px;
  }
}

@include media("<=phone") {
  html {
    font-size: 12px;
  }
}
