@forward "include-media";
@forward "@janis.me/themed";

@use "sass:meta";

@use "@janis.me/themed";
@use "include-media" as *;

@use "./themes";

$theme-map: meta.module-variables("themes");

@include themed.configure($theme-map, "janis");

$breakpoints: (
  ultrawide: 2000px,
  phone: 420px,
  tablet: 768px,
  desktop: 1024px,
);
