---
import Layout from "$layouts/Layout.astro";
---

<Layout>
  <div class="imprint">
    <h2>Imprint</h2>
    <div class="imprint__text">I don't need a fucking imprint.</div>
    <div class="imprint__pages">
      <p>Imprint</p>
      <a href="/contact">Contact</a>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "$styles/mixins" as mixins;

  .imprint {
    @include mixins.contentContainer;

    h2 {
      margin: 0 0 0 8px;
    }

    &__text {
      padding: 8px;
      border-top: 1px solid c("grey-3");
    }

    &__pages {
      display: flex;
      justify-content: space-evenly;
      border-top: 1px solid c("grey-3");

      padding: 8px;

      p {
        margin: 0;
      }
    }
  }
</style>
