@use "include-media" as *;

@use "$/styles/colors";

.home {
  overflow: auto;
}

.title {
  color: colors.$primary;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 3em;
  letter-spacing: 1px;
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  gap: 16px;
}

.tag {
  padding: 6px 24px;
  border-radius: 6px;
  color: colors.$white;
  background: #5e5e6454;
  font-size: 1em;
}

.intro {
  margin: 120px 64px 0;
}

.introText {
  padding: 8px 64px;
}

.content {
  p {
    color: colors.$white;
    margin: 12px 0;
  }
}

.contentSliders {
  padding: 0 64px;
  margin-bottom: 64px;

  h2 {
    color: colors.$white;
    opacity: 0.7;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 24px 0;
  }
}

.resume {
  background-color: colors.$primary;
  padding: 64px;
  margin-top: 32px;

  h1 {
    color: colors.$black;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &Items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@include media("<=tablet") {
  .intro {
    margin: 80px 32px 0;
  }

  .tags {
    gap: 8px;
  }

  .tag {
    font-size: 0.9em;
    padding: 6px 16px;
  }
}

@include media(">phone", "<=tablet") {
  .introText {
    padding: 8px 32px;
  }

  .contentSliders {
    padding: 0 32px;
  }
}

@include media("<phone") {
  .introText {
    padding: 0 16px;
  }

  .contentSliders {
    padding: 0 16px;
  }
}
