---
import Nav from "$components/Nav/Nav";
import "$styles/global.scss";
---

<script>
  import {
    getPreferredColorMode,
    getPreferredTheme,
    setColorMode,
    setTheme,
  } from "$utils/theme.utils";

  const initialTheme = getPreferredTheme();
  const initialColorMode = getPreferredColorMode();

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      setTheme(event.matches ? "dark" : "light");
    });

  setTheme(initialTheme);
  setColorMode(initialColorMode);
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Janis Jansen - Fullstack dev & creator">
    <meta name="keywords" content="Janis Jansen, fullstack, developer Düsseldorf, softwareentwickler Düsseldorf" />
    <meta name="robots" content="index, follow, max-snippet:[120], max-image-preview:[large]" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Janis Jansen - my personal website</title>
  </head>

  <body data-theme="light" data-colormode="false">
    <Nav client:only />

    <main class="content">
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  @use "$styles/config";

  body {
    display: grid;
    grid-template-rows: config.$nav-height auto;
  }

  .content {
    display: flex;
    align-items: center;
    flex-flow: column;
    
    overflow: auto;
  }
</style>
