---
import Nav from "$components/Nav/Nav";
import "$styles/global.scss";
---

<script>
  import { getPreferredTheme, setTheme } from "$utils/theme.utils";

  const initialTheme = getPreferredTheme();

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      setTheme(event.matches ? "dark" : "light");
    });

  setTheme(initialTheme);
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>janis.me</title>
  </head>

  <body data-theme="light">
    <Nav client:only />

    <main class="content">
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  .content {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
