---
import { Paintbrush, Sun } from "@lucide/astro";
---

<script>
  import {
    getThemeFromDocument,
    setTheme,
    watchThemeAttribute,
  } from "@janis.me/themed/js";
  import {
    createElement,
    Sun,
    Moon,
    Paintbrush,
    PaintbrushVertical,
  } from "lucide";

  const lightDarkButton = document.getElementById("nav-toggle-dark-button");
  const modeButton = document.getElementById("nav-toggle-mode-button");

  lightDarkButton?.addEventListener("click", () => {
    const currentTheme = getThemeFromDocument();
    if (!currentTheme) return;
    const themeComponents = currentTheme.split("-");
    setTheme(
      `${themeComponents[0]}-${themeComponents[1] === "dark" ? "light" : "dark"}`
    );
  });

  modeButton?.addEventListener("click", () => {
    const currentTheme = getThemeFromDocument();
    if (!currentTheme) return;
    const themeComponents = currentTheme.split("-");
    setTheme(
      `${themeComponents[0] === "lucie" ? "janis" : "lucie"}-${themeComponents[1]}`
    );
  });

  watchThemeAttribute((theme) => {
    if (!theme) return;
    const themeComponents = theme.split("-");
    const lightDarkIcon =
      themeComponents[1] === "dark" ? createElement(Sun) : createElement(Moon);
    const modeIcon =
      themeComponents[0] === "lucie"
        ? createElement(Paintbrush)
        : createElement(PaintbrushVertical);

    if (lightDarkButton) {
      lightDarkButton.innerHTML = "";
      lightDarkButton.appendChild(lightDarkIcon);
    }
    if (modeButton) {
      modeButton.innerHTML = "";
      modeButton.appendChild(modeIcon);
    }
  });
</script>

<nav class="nav">
  <h1 class="nav__title">
    <a href="/">janis.me</a>
  </h1>

  <div>
    <button class="nav__toggle-theme-button" id="nav-toggle-dark-button">
      <Sun />
    </button>
    <button class="nav__toggle-theme-button" id="nav-toggle-mode-button">
      <Paintbrush />
    </button>
  </div>
</nav>

<style lang="scss">
  @use "$styles/globals" as *;
  @use "$styles/config";

  .nav {
    width: 100%;
    height: config.$nav-height;
    padding: 0 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid themed("grey-3");

    backdrop-filter: blur(100px);

    &__title {
      margin: 0;
    }

    &__toggle-theme-button {
      color: themed("text");
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    @include media("<=tablet") {
      padding: 0 8px;
    }
  }
</style>
