@use "$styles/config";

.nav {
  width: 100%;
  height: config.$nav-height;
  padding: 0 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid c("grey-3");

  backdrop-filter: blur(100px);

  &__title {
    margin: 0;
  }

  &__toggle-theme-button {
    color: c("text");
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @include media("<=tablet") {
    padding: 0 8px;
  }
}
